@import '@/styles/components/_vars.scss';
@import '@/styles/components/_mixins.scss';

.form {
  .container {

    .form {
      width: 100%;
      max-width: 910px;
      display: flex;
      flex-direction: column;
      margin: 50px auto 100px;
      // Media
      @include lg{
        margin: 50px auto;
      }

      .input {
        width: 100%;
        max-width: 910px;
        height: 75px;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 25px;
        padding: 15px;
        color: $black;

        &:nth-child(2) {
          margin: 30px auto;
        }

        &::placeholder {
          color: #B9B9B9;
          font-size: 20px;
          padding-left: 45px;
        }

        &:focus {
          outline: 2px solid $brand_color;
        }
      }

      textarea.input {
        height: 250px;
        resize: none;
      }

      .btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        
        .socials{
          display: flex;
          align-items: center;
          gap: 45px;
          // Media
          @include md{
            justify-content: center;
            gap: 30px;
          }
    
          li{
            a{
              font-size: 30px;
              color: $brand_color;
              // Media
              @include lg{
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}