@import '@/styles/components/_vars.scss';
@import '@/styles/components/_mixins.scss';

.brands{
  .container{
    padding: 60px 0 110px;
    // Media
    @include lg{
      padding: 50px 0;
    }
    .wrap{
      display: flex;
      flex-wrap: wrap;
      gap: 22px;
      padding-top: 50px;
      img{
        width: 270px;
        height: 100px;
        // Media
        @include lg{
          width: 220px;
          margin: 0 auto;
        }
      }
    }
  }
}