@import '@/styles/components/_vars.scss';
@import '@/styles/components/_mixins.scss';
// @import '@/fonts/_fonts.scss';

.partners {
  padding-top: 150px;
  font-family: 'Circe', sans-serif;
  font-weight: 400;
  font-size: 25px;

  // Media
  @include xxl {
    padding-top: 100px;
  }

  .container {

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 55px 0;
      // Media
      @include xxl{
        padding: 45px 0;
      }
      
      &:nth-child(2){
        padding: 100px 0 50px;
        // Media
        @include lg{
          flex-wrap: wrap;
        }
        .content{
          display: flex;
          padding: 0 0 0 140px;
        }
      }
      .content{
        line-height: 30px;
        padding-right: 140px;
      }

      .image {
        img {
          object-fit: cover;
          width: 560px;
          height: 350px;
          // Media
          @include xxl {
            width: 500px;
            height: 300px;
          }
        }
      }
    }
  }
}