<template>
  <div class="cert">
    <img
      v-for="img in images"
      :key="img"
      :src="img"
      alt="img"
      @click="$emit('setImage', img)"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      images: [
        "https://thumbs.dreamstime.com/z/portrait-certificate-achievement-template-gold-border-awarded-wreath-star-background-75142944.jpg",
        "https://thumbs.dreamstime.com/z/certificate-completion-template-portrait-brown-green-69475535.jpg",
        "https://thumbs.dreamstime.com/z/portrait-certificate-excellence-template-award-ribbon-abstract-guilloche-background-vintage-border-style-95808515.jpg",
        "https://thumbs.dreamstime.com/z/certificate-recognition-vintage-frame-portrait-gold-beige-65372649.jpg",
        "https://previews.123rf.com/images/visarts/visarts1606/visarts160600024/59034930-certificato-di-riconoscimento-vintage-frame-ritratto-.jpg",
        "https://previews.123rf.com/images/visarts/visarts1606/visarts160600006/57913688-certificate-of-recognition-vintage-frame-with-gold-ribbon-portrait-.jpg",
        "https://st2.depositphotos.com/5515738/11840/v/950/depositphotos_118407576-stock-illustration-portrait-certificate-of-achievement-template.jpg",
        "https://thumbs.dreamstime.com/z/certificate-achievement-vintage-frame-portrait-vector-73009377.jpg",
      ],
    };
  },
};
</script>

<style lang="scss">
.cert {
  @import "@/styles/components/_vars.scss";
  @import "@/styles/components/_mixins.scss";
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 20px;
  // Media
  @include xxl {
    justify-content: center;
  }

  img {
    width: 390px;
    height: 500px;
    object-fit: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    // Media
    @include xxl {
      width: 310px;
      height: 410px;
    }
    @include xl {
      width: 280px;
      height: 355px;
    }
    @include lg {
      width: 215px;
      height: 273px;
    }
    @include sm {
      width: 200px;
      height: 245px;
    }
  }
}
</style>