<template>
  <div class="modal" @click="$emit('close')">
    <img :src="image" alt="" @click.stop />
  </div>
</template>

<script>
export default {

  props: {
    image: String,
  },
};
</script>

<style lang="scss">
.modal {
@import "@/styles/components/_vars.scss";
@import "@/styles/components/_mixins.scss";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1111;

  img {
    width: 35%;
    height: 90vh;
    // Media
    @include md {
      width: 40%;
      height: 70vh;
    }
    @include sm {
      width: 40%;
      height: 50vh;
    }
    @include media(425px){
      width: 50%;
      height: 55vh;
    }
     @include media(375px){
      width: 70%;
      height: 70vh;
    }
    @include media(360px){
      width: 70%;
      height: 55vh;
    }
  }
}
</style>