<template>
	<div class="certificates">
		<div class="container">
			<TheTitle :sub="sub" :title="title" />
			<Cert  @setImage="setImage" />
			<Modal :image="modImg" v-if="modImg" @close="modImg = null"/>
		</div>
	</div>
</template>

<script>
import Cert from './components/Certific.vue'
import Modal from './components/Modal.vue'
import TheTitle from "@/layouts/TheTitle.vue";
export default {
	data(){
		return{
			modImg: null,
			sub:'Main Menu / Certificates',
			title:'Certificates'
		}
	},
	methods:{
		setImage(img) {
      this.modImg = img
    }
	},
	components:{ Cert, Modal, TheTitle }
}
</script>

<style>
.certificates{
	min-height: 100vh;
  padding-top: 150px;
}
</style>