@import '../../../styles/components/_vars.scss';
@import '../../../styles/components/_mixins.scss';

.home-partners{
	.slider{
		padding: 70px 0;
	}
	&::selection{
		display: none;
	}
	.swiper-slide{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 150px;
		
	}
}