@import '../../../styles/components/_vars.scss';
@import '../../../styles/components/_mixins.scss';

.home-main{
	min-height: 100vh;
	padding: 220px 0;
	// Media
	@include lg{
		padding: 150px 0;
	}

	&::after{
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 700px;
		border-bottom-left-radius: 350px;
		background: linear-gradient(209.71deg, #1AA7EC -21.65%, #1B92DD -21.64%, #1E2F97 95.87%);
		z-index: 1;
		// Media
		@include xxl{
			width: 500px;
		}
		@include lg{
			display: none;
		}
	}
	
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 2;
		// Media
		@include md{
			flex-direction: column;
		}
	}

	.banner{
		width: 100%;
		max-width: 800px;
		height: 556px;
		border-radius: 20px;
		overflow: hidden;
		// Media
		@include xxl{
			height: 350px;
		}
		@include lg{
			display: none;
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.home-socials{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		// Media
		@include md{
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			margin-top: 30px;
		}

		.sci-link{
			font-size: 30px;
			color: $white;
			padding: 25px;
			// Media
			@include xxl{
				font-size: 20px;
				padding: 10px;
			}
			@include lg{
				font-size: 35px;
				color: $brand_color;
				padding: 10px;
			}
		}
	}
}