<template>
	<section class="contacts container">
		<div class="title">
			<h3 class="subtitle">{{ sub }}</h3>
        	<h1 class="title">{{ title }}</h1>
		</div>
		<div class="btns">
			<button 
			v-for="(country, idx) in countries" 
			:key="country.name"
			:class="{active: activeBtn === idx}"
			@click="activeBtn = idx">

				<img :src="country.img" 
				:alt="country.name">
				{{ country.name }}
				
			</button>
		</div>
		<div class="maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2997.916593928683!2d69.21932588556672!3d41.28891966952727!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f6dfd457bfa7c0b!2sIT%20Labs!5e0!3m2!1sru!2s!4v1646491918188!5m2!1sru!2s" allowfullscreen="" loading="lazy"></iframe>

		</div>
		<div class="block">
		<div class="box">
			<h3>{{countries[activeBtn].name}}</h3>
			<a :href="countries[activeBtn].address.link">{{countries[activeBtn].address.text}}</a>
		</div>
		<div class="box">
			<h3>Телефон</h3>
			<a :href="countries[activeBtn].phone.link">{{countries[activeBtn].phone.text}}</a>
		</div>
		<div class="box">
			<h3>Email</h3>
			<a :href="countries[activeBtn].email">{{countries[activeBtn].email}}</a>
		</div>
		<div class="box">
			<h3>Website</h3>
			<a :href="countries[activeBtn].website.link">{{countries[activeBtn].website.text}}</a>
		</div>
		</div>
	</section>
</template>

<script>
import countries from "./Cantact_info.js";
export default {
	components: {},
	data() {
		return {
			activeBtn: 1,
			sub: "Main Menu / Contact Us",
			title: "Contact us",
			countries: countries,
		};
	},
	methods: {},
	computed: {},
	mounted() {},
};

</script>

<style scoped lang= "scss">
@import "./styles/Contact_Us.scss";
</style>