@import "@/styles/components/_vars.scss";
@import "@/styles/components/_mixins.scss";
body{
    background: #E5E5E5;
}
.contacts{
    padding: 230px 0 100px;
    margin: 0 auto;

    // media
    @include xl{
        padding: 150px 0 100px;
    }

    @include md{
        padding: 100px 0;
    }

    .title{
        text-align: center;

        .subtitle{
            font-size: 20px;
            font-weight: 600;
            color: $brand-color;
        }

        .title{
            font-size: 50px;
            color: $black;
            padding: 30px 0 40px;
            text-transform: capitalize;
        }
    }
    .btns{
        display: flex;
        justify-content: center;
        gap: 40px;

        // media
        @include lg{
            gap: 20px;
        }
        @include md{
            flex-direction: column;
            margin: 0 30px;
        }

        @include sm{
            grid-template: 10px;
        }

        button{
            padding: 15px 25px;
            font-size: 25px;
            align-items: center;
            background: $white;
            border-radius: 10px;
            border: 3px solid white;
            transition: 0.3s;
            display: flex;
            gap: 15px;
            text-align: center;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);

            // media
                @include lg{
                    padding: 10px 15px;
                    font-size: 20px;
                    gap: 5px;
                }

                @include md{
                    gap: 30px;
                }

                @include sm{
                    gap: 5px;
                    padding: 5px 10px;
                }
            

            &:hover{
                border-color: $brand-color;
                transform: scale(1.03);
                box-shadow: -10px 30px 50px rgba(0, 0, 0, 0.25);
            }
        }

        button.active{
            border-color: $brand-color;
            background: $brand-color;
            color: $white;
        }
    }

    .maps{
        width: 100%;
        height: 350px;
        // background-color: aqua;
        margin-top: 65px;

        iframe{
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    .block{
        display: flex;
        flex-wrap: wrap;
        gap: 50px 100px;
        margin-top: 50px;
        margin-left: 50px;

        // media
        @include lg{
            gap: 30px 10px;
            margin-left: 10px;
        }

        @include sm{
            gap: 20px 0px;
            
        }
        

        .box{
            width: 400px;
            right: 100px;

            // media
        @include lg{
            width: 350px;
        }
            
            h3{
                font-size: 24px;
                font-weight: 700;
                padding-bottom: 10px;
                text-transform: uppercase;

                // media
                @include sm{
                    font-size: 20px;
                }
            }

            a{
                font-size: 18px;
                font-weight: 500;
                line-height: 30px;

                // media
                @include sm{
                    font-size: 18px;
                }
            }
        }
    }
}