<template>
	<main>
		<Main/>
		<HomePartners />
	</main>
</template>

<script>
import Main from './sections/Main'
import HomePartners from './sections/HomePartners'

export default {
	components: { Main, HomePartners },
}
</script>

<style lang="scss">

</style>