<template>
  <section class="mission">
    <div class="container">
      <div class="wrap">
        <h3 class="title">{{ title }}</h3>
        <div class="item" v-for="card in card_array" :key="card">
          <img :src="card.img" alt="img" />
          <p class="subtitle">{{ card.subtitle }}</p>
        </div>
        <h3 class="title">{{ title }}</h3>
        <p class="subtitle">{{ sub }}</p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      title: "Наши цели",
      sub: "In 2020, we have opened our representative offices. In the same year, U.S.IOL has signed partnership contract, meanwhile, Labtronics has become our partner company. Meanwhile, we have signed partnership agreements with a total of 45 public and private clinics, 3 opticians in Uzbekistan and 18 in Kazakhstan. In 2021, a few European and American distributor companies has been merged to our country, giving the opportunity to get in touch with our prospective companies directly.",
      card_array: [
        {
          img: require("../../../images/about/person1.jpg"),
          subtitle: `Our company’s main goal is supplying the best to our customers. 
          With this goal our company has been established in 2019 by a group of professionals and surgeons. One of worlds economic hubs,  London has been chosen to be our head office location. In a short time, we have gathered marketing sales teams in Tashkent(Uzbekistan) and Shymkent(Kazakhstan). `,
        },
        {
          img: require("../../../images/about/person2.jpg"),
          subtitle: `Our company’s main goal is supplying the best to our customers. 
          With this goal our company has been established in 2019 by a group of professionals and surgeons. `,
        },
        {
          img: require("../../../images/about/person3.png"),
          subtitle: `Our company’s main goal is supplying the best to our customers. 
          With this goal our company has been established in 2019 by a group of professionals and surgeons. `,
        },
        {
          img: require("../../../images/about/person4.png"),
          subtitle: `Our company’s main goal is supplying the best to our customers. 
          With this goal our company has been established in 2019 by a group of professionals and surgeons. One of worlds economic hubs,  London has been chosen to be our head office location. In a short time, we have gathered marketing sales teams in Tashkent(Uzbekistan) and Shymkent(Kazakhstan). `,
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/components/_vars.scss";
@import "@/styles/components/_mixins.scss";
.mission {
  font-family: "Circe";
  .container {
    .wrap {
      display: flex;
      flex-direction: column;
      padding: 0 0 50px 140px;
      // Media
      @include xxl {
       padding: 0 0 50px 0px;
      }

      .title {
        font-size: 35px;
        text-transform: uppercase;
        margin: 60px 0;
        // Media
        @include xxl {
          margin: 30px 0;
        }
        @include lg {
          font-size: 25px;
        }
      }

      .item {
        display: flex;
        gap: 50px;
        margin-bottom: 40px;
        // Media
        @include lg {
          gap: 25px;
        }
        @include sm {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        img {
          width: 100px;
          height: 100px;
        }

        .subtitle {
          font-family: "Circe";
          font-size: 25px;
          line-height: 35px;
          font-weight: 400;
          // Media
          @include lg {
            font-size: 20px;
            line-height: 22px;
          }
          @include sm {
            font-size: 18px;
          }
        }
      }

      .subtitle {
        font-size: 25px;
        font-weight: 400;
        line-height: 35px;
        // Media
        @include lg {
          font-size: 20px;
          line-height: 22px;
        }
        @include sm {
            font-size: 18px;
          }
      }
    }
  }
}
</style>