<template>
  <div class="wrapper">
      <ButtonActive
      :title="btn"
      v-for="(btn, idx) in btns"
      :key="btn"
      :active="{active: idx === activeBtn}"
      @activeCard="activeBtn = idx, $emit('setIndex', idx)"
      />
  </div>

</template>

<script>
import ButtonActive from './ButtonActive.vue'
export default {
  data() {
    return {
      activeBtn: 0,
    }
  },
  components: { ButtonActive },
  
  inject: ['btns'],
};
</script>

<style lang="scss" scoped>
@import "@/styles/components/_vars.scss";
@import "@/styles/components/_mixins.scss";
.wrapper{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 70px 0;
  // Media
  @include md{
    flex-wrap: wrap;
    justify-content: center;
  }
  @include sm{
    margin: 30px 0;
  }
}
</style>